.idea
out
*.xml
*.iml
*.class

# for mac users
.DS_Store

.gradle
!gradle-wrapper.properties
/build

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
