<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <title>Github Checker</title>
    </head>
    <body>
        <h3>Green Fox Github Checker</h3>
        <p>If you want to check how your class proceeds with commits please type your class' and cohort's name!</p>
        <form th:action="@{/checkcommit}" method="post">
            <label for="gfclass">GFA classes</label>
            <select id="gfclass" class="form-control" name="gfclass">
                <option value="">Select Class</option>
                <option th:each="className : ${classes}" th:text="${className}">Class names</option>
            </select>
            <label for="startDate">Please choose start date</label>
            <input id="startDate" name="startDate" type="date"/>
            <label for="endDate">Please choose end date</label>
            <input id="endDate" name="endDate" type="date"/>
            <button type="submit">GO</button>
        </form>
        <div th:each="mapEntry : ${map}">
            <span th:text="${mapEntry.key}"></span>
            <span th:text="${mapEntry.value}"></span>
        </div>
    </body>
</html>