<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="../bootstrap.min.css" rel="stylesheet"/>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../narrow-jumbotron.css"/>
    <link href="../ghhandles.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <header class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/checkcommit">Commits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addhandles">Members</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="col-lg-12">
        <h1 class="page-header">Green Fox Github Checker</h1>
    </div>
    <p>You can add members to database, so we will be able to check their committing progress. </p>
    <p>In order to edit the members in the database click on the "List" button.</p>
    <p>The name of the cohort and the class must match to the valid name, all lower-case please!</p>
    <form th:action="@{/addhandles}" method="post">
        <div class="form-row">
            <div class="form-group">
                <label for="cohort">Cohort name</label>
                <input name="cohortName" type="text" class="form-control" id="cohort" placeholder="Cohort name" style="width: 100px"/>
            </div>
            <div class="form-group">
                <label for="class">Class name</label>
                <input name="className" type="text" class="form-control" id="class" placeholder="Class name"/>
            </div>
            <div class="form-group">
                <label for="ghHandles">Add github handles separated by " "</label>
                <textarea class="form-control" id="ghHandles" name="ghHdls" rows="3"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        <a type="button" href="/listhandles" class="btn btn-success">List</a>
    </form>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>Cohort name</th>
                    <th>Class name</th>
                    <th>Github handle</th>
                </tr>
                <tr th:each="handle : ${handles}">
                    <form th:action="@{/edithandles/{id}(id=${handle.id})}" method="post">
                        <td><input th:value="${handle.cohortName}" type="text" placeholder="Cohort name" name="cohortName"/></td>
                        <td><input th:value="${handle.className}" type="text" placeholder="Class name" name="className"/></td>
                        <td><input th:value="${handle.githubHandle}" type="text" placeholder="Github Handle" name="githubHandle"/></td>
                        <td><a th:href="@{/deletehandles/{id}(id=${handle.id})}">
                            <span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                        <td><button type="submit">
                            <span class="glyphicon glyphicon-pencil"></span></button>
                        </td>
                    </form>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>