<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Programmer Fox Club</title>
</head>
<body>
<h3>Green Fox Github Checker</h3>
<p>If you want to check how your class proceeds with commits please type your class' and cohort's name!</p>
<form th:action="@{/commitcheck}" method="post">
    <label for="cohort">Cohort name</label>
    <input id="cohort" name="ghHandles" type="text"/>
    <label for="class">Class name</label>
    <input id="class" name="ghHandles" type="text"/>
    <label for="ghHandles">Please insert GitHub handles:</label>
    <input id="ghHandles" name="ghHandles" type="text"/>
    <button type="submit">GO</button>
</form>
<div th:each="mapEntry : ${map}">
    <span th:text="${mapEntry.key}"></span> =
    <span th:text="${mapEntry.value}"></span>
</div>
</body>
</html>