<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <title>Github Checker</title>
        <link rel="stylesheet" type="text/css" href="../bootstrap.min.css"/>
    </head>
    <body>
        <h3>Green Fox Github Checker</h3>
        <p>If you want to check how your class proceeds with commits or you want to add new members to Green Fox github organization, please choose from the links below:</p>
        <a href="/checkcommit">Commit checking</a>
        <a href="/addmember">Add members</a>
    </body>
</html>